<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/usuario.css' %}">
</head>
<body>
    <!-- ENCABEZADO -->

        <!-- END ENCABEZADO -->
        <div class="publicidad">
            <h3>LOGRASTE ENTRAR A LA ADMINISTRACION</h3>
        </div>
        <!-- NAVEGACION  -->
        <nav>
            <div class="enlaces">
                <div class="links">
                    <h3>ADMINISTRACION</h3>
                </div>
                <div class="autenticacion">
                    <a>@{{user.username}}</a>
                    <a href="{% url 'logout' %}">Cerrar Sesion</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- END NAVEGACION -->
    <aside>
        <div class="contenido">
            <h5>DASHBOARD</h5>
            <hr>
            <a href="{% url 'listar_usuario' %}">Listar Usuarios</a>
            <a href="{% url 'crear_usuario' %}">Crear Usuarios</a>
        </div>
    </aside>
    <!-- PRINCIPAL -->
    <main>
        {% block contenido %}
        {% endblock %}
        
    </main>
</body>
</html>