{% extends 'dashboard/base.html' %}

{% load static %}
<style>
    .formulario {
    margin: 0px 270px 20px 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.formulario .entrada {
    width: 100%;
    margin-top: 20px;
}
.entrada label {
    color: rgb(0, 0, 0);
}
.formulario :where(.entrada input, .caja-select) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: rgb(107, 107, 107);
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  
.entrada input:focus {
    box-shadow: 0 2px rgb(255, 0, 0);
}
</style>

{% block contenido %}

<section>
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h2>Crear Empleado</h2>
            </div>
            <hr>
            <div class="card-main">
                <form method="POST" class="formulario">
                    {% csrf_token %}
                    <div class="entrada">
                        <label for="nombre_usuario">Nombre de usuario:</label>
                        <input type="text" name="nombre_usuario" required>
                    </div>
        
                    <div class="entrada">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" required>
                    </div>
        
                    <div class="entrada">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name="apellidos" required>
                    </div>
        
                    <div class="entrada">
                        <label for="email">Email:</label>
                        <input type="email" name="email" required>
                    </div>
        
                    <div class="entrada">
                    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                    <input type="date" name="fecha_nacimiento" required>
                    </div>
        
                    <div class="entrada">
                        <div class="columna">
                            <div class="caja-select">
                            <select name="roles" required>
                                <option hidden>Tipo de usuario</option>
                                <option value="usuario">Usuario normal</option>
                            <option value="admin">Administrador</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}